node_modules
dist
.git
.gitignore
docker-compose.yml
Dockerfile.frontend
Dockerfile.backend
*.log
*.local
.env
.env.*
.vercel
.vercelignore
.husky
.gitleaks.toml
gitleaks.zip
scripts/
.vite-source-tags.js