# Database
DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=orderlink

# JWT
JWT_SECRET=

# CORS
CORS_ORIGIN=https://orderlink-imbran776s-projects.vercel.app

# Server
PORT=3001
NODE_ENV=production